<p><strong>{{ sender|raw }} (<a href="mailto:{{ email }}">{{ email }}</a>) says:</strong></p>
<p>{{ message|raw }}</p>
<hr>
<p><a href="http://photography.eexit.net">http://photography.eexit.net</a></p>
<p><small>Sent on {{ user.date }} from <a href="http://whatismyipaddress.com/ip/{{ user.ip }}">{{ user.ip }}</a> by {{ user.agent }}.</small></p>