{# _layout.html.twig #}
{% spaceless %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>{{ title|raw }} | Joris Berthelot Photography</title>
        <meta name="author" content="Joris Berthelot <photography@eexit.net>">
        <meta name="description" content="Photography portfolio of Joris Berthelot, self-taught photographer">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{{ app.domain }}/favicon.ico">
        {% if app.debug %}
            <link rel="stylesheet" href="{{ app.domain }}/ui/styles/src/bootstrap.min.css" type="text/css" media="all">
            <link rel="stylesheet" href="{{ app.domain }}/ui/styles/src/portfolio.css" type="text/css" media="all">
            <noscript>
                <link rel="stylesheet" href="{{ app.domain }}/ui/styles/src/portfolio-ns.css" type="text/css" media="all">
            </noscript>
        {% else %}
            <link rel="stylesheet" href="{{ app.domain }}/ui/styles/portfolio-min.css" type="text/css" media="all">
            <noscript>
                <link rel="stylesheet" href="{{ app.domain }}/ui/styles/portfolio-ns-min.css" type="text/css" media="all">
            </noscript>
            <script type="text/javascript">
                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', 'UA-28277203-5']);
                _gaq.push(['_trackPageview']);

                (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();
            </script>
            <!--[if lt IE 9]>
                <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
            <![endif]-->
        {% endif %}
    </head>
    <body>
        <header{% if header_attr is defined %}{{ header_attr|raw }}{% endif %}>
            <h1><a href="{{ app.domain }}">Joris<br>Berthelot</a></h1>
            <img src="{{ app.domain }}/ui/img/ajax-loader2.gif" id="loader" alt="loading..." width="16" height="16" />
            <nav>
                <ul>
                    <li><a href="{{ app.domain }}/about.html" rel="me">about</a></li>
                    <li><a href="{{ app.domain }}/contact.html">contact</a></li>
                </ul>
            </nav>
            <noscript><p id="whynojs">Why no JavaScript?<br>= (</p></noscript>
        </header>
        {% block content %}{% endblock %}
        {% if app.debug %}
            <script type="text/javascript" src="{{ app.domain }}/ui/js/src/jquery.min.js"></script>
            <script type="text/javascript" src="{{ app.domain }}/ui/js/src/jquery.ui-min.js"></script>
            <script type="text/javascript" src="{{ app.domain }}/ui/js/src/jquery.tools.min.js"></script>
            <script type="text/javascript" src="{{ app.domain }}/ui/js/src/jquery.mousewheel.js"></script>
            <script type="text/javascript" src="{{ app.domain }}/ui/js/src/jquery.getscrollbarwidth.js"></script>
            <script type="text/javascript" src="{{ app.domain }}/ui/js/src/jquery.sizes.min.js"></script>
            <script type="text/javascript" src="{{ app.domain }}/ui/js/src/jquery.lazyload.min.js"></script>
            <script type="text/javascript" src="{{ app.domain }}/ui/js/src/jquery.scrollto-min.js"></script>
            <script type="text/javascript" src="{{ app.domain }}/ui/js/src/jquery.localscroll-min.js"></script>
            <script type="text/javascript" src="{{ app.domain }}/ui/js/src/jquery.easing.1.3.js"></script>
            <script type="text/javascript" src="{{ app.domain }}/ui/js/src/portfolio.js"></script>
        {% else %}
            <script type="text/javascript" src="{{ app.domain }}/ui/js/portfolio-min.js"></script>
        {% endif %}
    </body>
</html>
{% endspaceless %}