{# contact.html.twig #}
{% extends '_layout.html.twig' %}
{% set title= 'Contact' %}
{% block content %}
    <div id="container">
        <article>
            <h2><a href="{{ app.domain }}/contact.html">Contact</a></h2>
            {% if app.session.getFlashBag.has('notice') %}
                <div class="alert alert-success">
                    <p>{{ app.session.getFlashBag.get('notice') }}</p>
                </div>
            {% else %}
                <p>I'd love to receive an inquiry from you...</p>
            {% endif %}
            <address id="hcard-Joris-Berthelot" class="vcard">
                <div>
                    <strong><span class="fn">Joris Berthelot</span></strong><br>
                    <span class="url">http://photography.eexit.net</span><br>
                    <span class="email"><!-- this -->photography<!-- email -->@<!-- address -->eexit<!-- is -->.<!-- protected -->net</span><br>
                    <span class="city">Cannes</span>,
                    <span class="region"><abbr title="Provence Alpes C&ocirc;te d'Azur">PACA</abbr></span>,
                    <span class="country-name">France</span>
                </div>
            </address>
            <form method="post" action="/contact.html">
                <fieldset>
                    <div class="control-group {% if violations.name is defined %}error{% endif %}">
                        <label class="control-label" for="name">Full name ({% if violations.name is defined %}{{ violations.name|lower }}{% else %}3 caracters at least{% endif %})</label>
                        <div class="controls">
                            <input type="text" class="input-xxxlarge" id="name" name="name" value="{% if post.name is defined %}{{ post.name }}{% endif %}"/>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="control-group {% if violations.email is defined %}error{% endif %}">
                        <label class="control-label" for="email">Email address {% if violations.email is defined %}({{ violations.email|lower }}){% endif %}</label>
                        <div class="controls">
                            <input type="email" class="input-xxxlarge" id="email" name="email" value="{% if post.email is defined %}{{ post.email }}{% endif %}"/>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="control-group {% if violations.message is defined %}error{% endif %}">
                        <label class="control-label" for="message">Message ({% if violations.message is defined %}{{ violations.message|lower }}{% else %}no HTML allowed{% endif %})</label>
                        <div class="controls">
                            <textarea cols="40" rows="6" class="xxlarge" id="message" name="message">{% if post.message is defined %}{{ post.message }}{% endif %}</textarea>
                        </div>
                    </div>
                </fieldset>
                <label class="checkbox">
                    <input type="checkbox" name="copy" value="1" class="inline" /> Send me a copy
                </label>
                <button type="submit" class="btn-small btn-inverse">Send</button>
            </form>
        </article>
    </div>
{% endblock %}
